In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Census 2021

In [4]:
df_cob = pd.read_csv('CensusCSV/census2021-ts004-llta.csv')
df_pdn = pd.read_csv('CensusCSV/census2021-ts006-ltla.csv')
df_sex = pd.read_csv('CensusCSV/census2021-ts009-ltla.csv')
df_mig = pd.read_csv('CensusCSV/census2021-ts019-ltla.csv')
df_yar = pd.read_csv('CensusCSV/census2021-ts015-ltla.csv')
df_eth = pd.read_csv('CensusCSV/census2021-ts021-ltla.csv')
df_eng = pd.read_csv('CensusCSV/census2021-ts029-ltla.csv')
df_rel = pd.read_csv('CensusCSV/census2021-ts030-ltla.csv')
df_acc = pd.read_csv('CensusCSV/census2021-ts044-ltla.csv')
df_rms = pd.read_csv('CensusCSV/census2021-ts051-ltla.csv')
df_whr = pd.read_csv('CensusCSV/census2021-ts059-ltla.csv')
df_occ = pd.read_csv('CensusCSV/census2021-ts063-ltla.csv')
df_emp = pd.read_csv('CensusCSV/census2021-ts065-ltla.csv')
df_eac = pd.read_csv('CensusCSV/census2021-ts066-ltla.csv')
df_edu = pd.read_csv('CensusCSV/census2021-ts067-ltla.csv')
df_sch = pd.read_csv('CensusCSV/census2021-ts068-ltla.csv')
df_lgb = pd.read_csv('CensusCSV/census2021-ts077-ltla.csv')

# List of London boroughs
london_boroughs = [
    'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden',
    'City of London', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney',
    'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon',
    'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kensington & Chelsea', 'Kingston upon Thames',
    'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames',
    'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'
]

dfl_cob = df_cob[df_cob['geography'].isin(london_boroughs)]
dfl_pdn = df_pdn[df_pdn['geography'].isin(london_boroughs)]
dfl_sex = df_sex[df_sex['geography'].isin(london_boroughs)]
dfl_yar = df_yar[df_yar['geography'].isin(london_boroughs)]
dfl_mig = df_mig[df_mig['geography'].isin(london_boroughs)]
dfl_eth = df_eth[df_eth['geography'].isin(london_boroughs)]
dfl_eng = df_eng[df_eng['geography'].isin(london_boroughs)]
dfl_rel = df_rel[df_rel['geography'].isin(london_boroughs)]
dfl_acc = df_acc[df_acc['geography'].isin(london_boroughs)]
dfl_rms = df_rms[df_rms['geography'].isin(london_boroughs)]
dfl_whr = df_whr[df_whr['geography'].isin(london_boroughs)]
dfl_occ = df_occ[df_occ['geography'].isin(london_boroughs)]
dfl_emp = df_emp[df_emp['geography'].isin(london_boroughs)]
dfl_eac = df_eac[df_eac['geography'].isin(london_boroughs)]
dfl_edu = df_edu[df_edu['geography'].isin(london_boroughs)]
dfl_sch = df_sch[df_sch['geography'].isin(london_boroughs)]
dfl_lgb = df_lgb[df_lgb['geography'].isin(london_boroughs)]

dfl_cob = dfl_cob.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_pdn = dfl_pdn.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_sex = dfl_sex.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_yar = dfl_yar.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_mig = dfl_mig.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_eth = dfl_eth.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_eng = dfl_eng.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_rel = dfl_rel.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_acc = dfl_acc.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_rms = dfl_rms.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_whr = dfl_whr.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_occ = dfl_occ.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_emp = dfl_emp.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_eac = dfl_eac.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_edu = dfl_edu.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_sch = dfl_sch.drop(columns=['geography code', 'date']).reset_index(drop=True)
dfl_lgb = dfl_lgb.drop(columns=['geography code', 'date']).reset_index(drop=True)

In [256]:
dfl_cob.to_csv('CleanedCSV/BirthCountry.csv', index=True)

dfl_pdn.to_csv('CleanedCSV/PopulationDensity.csv', index=True)

dfl_sex.to_csv('CleanedCSV/Sex.csv', index=True)

dfl_yar.to_csv('CleanedCSV/YearOfArrival.csv', index=True)

dfl_mig.to_csv('CleanedCSV/MigrantIndicator.csv', index=True)

dfl_eth.to_csv('CleanedCSV/Ethnicity.csv', index=True)

dfl_eng.to_csv('CleanedCSV/EnglishProficiency.csv', index=True)

dfl_rel.to_csv('CleanedCSV/Religion.csv', index=True)

dfl_acc.to_csv('CleanedCSV/Accommodation.csv', index=True)

dfl_rms.to_csv('CleanedCSV/Rooms.csv', index=True)

dfl_whr.to_csv('CleanedCSV/HoursWorked.csv', index=True)

dfl_occ.to_csv('CleanedCSV/Occupation.csv', index=True)

dfl_emp.to_csv('CleanedCSV/UnemploymentHist.csv', index=True)

dfl_eac.to_csv('CleanedCSV/EconomicActivity.csv', index=True)

dfl_edu.to_csv('CleanedCSV/HighestEduQual.csv', index=True)

dfl_sch.to_csv('CleanedCSV/SchoolChildren.csv', index=True)

dfl_lgb.to_csv('CleanedCSV/SexualOrientation.csv', index=True)

## Census 2011

In [261]:
df_cob11 = pd.read_excel('Census2011/Country of birth.xlsx', sheet_name='2011')
df_yar11 = pd.read_excel('Census2011/Year of arrival in UK.xlsx', sheet_name='2011')
df_eth11 = pd.read_excel('Census2011/Ethnic group.xlsx', sheet_name='2011')
df_eng11 = pd.read_excel('Census2011/English Proficiency.xlsx', sheet_name='2011')
df_rel11 = pd.read_excel('Census2011/Religion.xlsx', sheet_name='2011')
df_acc11 = pd.read_excel('Census2011/accommodation type.xlsx', sheet_name='2011')
df_rms11 = pd.read_excel('Census2011/number of rooms.xlsx', sheet_name='2011')
df_whr11 = pd.read_excel('Census2011/hours worked.xlsx', sheet_name='2011')
df_occ11 = pd.read_excel('Census2011/occupation.xlsx', sheet_name='2011')
df_eac11 = pd.read_excel('Census2011/Economic Activity.xlsx', sheet_name='2011')
df_edu11 = pd.read_excel('Census2011/Qualifications.xlsx', sheet_name='2011')

london_boroughs = [
    'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden',
    'City of London', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney',
    'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon',
    'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kensington & Chelsea', 'Kingston upon Thames',
    'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames',
    'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'
]
dfl_cob11 = df_cob11[df_cob11['local authority name'].isin(london_boroughs)]
dfl_cob11 = dfl_cob11.groupby('local authority name').sum()
dfl_cob11.reset_index(inplace=True)
dfl_cob11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_yar11 = df_yar11[df_yar11['local authority name'].isin(london_boroughs)]
dfl_yar11 = dfl_yar11.groupby('local authority name').sum()
dfl_yar11.reset_index(inplace=True)
dfl_yar11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_eth11 = df_eth11[df_eth11['local authority name'].isin(london_boroughs)]
dfl_eth11 = dfl_eth11.groupby('local authority name').sum()
dfl_eth11.reset_index(inplace=True)
dfl_eth11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_eng11 = df_eng11[df_eng11['local authority name'].isin(london_boroughs)]
dfl_eng11 = dfl_eng11.groupby('local authority name').sum()
dfl_eng11.reset_index(inplace=True)
dfl_eng11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_rel11 = df_rel11[df_rel11['local authority name'].isin(london_boroughs)]
dfl_rel11 = dfl_rel11.groupby('local authority name').sum()
dfl_rel11.reset_index(inplace=True)
dfl_rel11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_acc11 = df_acc11[df_acc11['local authority name'].isin(london_boroughs)]
dfl_acc11 = dfl_acc11.groupby('local authority name').sum()
dfl_acc11.reset_index(inplace=True)
dfl_acc11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_rms11 = df_rms11[df_rms11['local authority name'].isin(london_boroughs)]
dfl_rms11 = dfl_rms11.groupby('local authority name').sum()
dfl_rms11.reset_index(inplace=True)
dfl_rms11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_whr11 = df_whr11[df_whr11['local authority name'].isin(london_boroughs)]
dfl_whr11 = dfl_whr11.groupby('local authority name').sum()
dfl_whr11.reset_index(inplace=True)
dfl_whr11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_occ11 = df_occ11[df_occ11['local authority name'].isin(london_boroughs)]
dfl_occ11 = dfl_occ11.groupby('local authority name').sum()
dfl_occ11.reset_index(inplace=True)
dfl_occ11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_eac11 = df_eac11[df_eac11['local authority name'].isin(london_boroughs)]
dfl_eac11 = dfl_eac11.groupby('local authority name').sum()
dfl_eac11.reset_index(inplace=True)
dfl_eac11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_edu11 = df_edu11[df_edu11['local authority name'].isin(london_boroughs)]
dfl_edu11 = dfl_edu11.groupby('local authority name').sum()
dfl_edu11.reset_index(inplace=True)
dfl_edu11.rename(columns={'local authority name': 'geography'}, inplace=True)

dfl_yar11 = dfl_yar11.drop(columns=['Delete1', 'Delete2', 'Delete3', 'Delete4', 'Delete5', 'Delete6'])

In [262]:
import pandas as pd
import numpy as np

def interpolate_values(df1, df2, date, year1=2011, year2=2021):
    """
    Interpolates values between two dataframes for a given date.
    """
    if not isinstance(date, pd.Timestamp):
        raise ValueError("The date must be a pandas Timestamp object.")

    common_geographies = set(df1['geography']).intersection(set(df2['geography']))

    df1_filtered = df1[df1['geography'].isin(common_geographies)].copy()
    df2_filtered = df2[df2['geography'].isin(common_geographies)].copy()

    df1_filtered.set_index('geography', inplace=True)
    df2_filtered.set_index('geography', inplace=True)

    df1_filtered = df1_filtered.loc[common_geographies]
    df2_filtered = df2_filtered.loc[common_geographies]

    year_fraction = (date.year + date.day_of_year / 365.25 - year1) / (year2 - year1)

    interpolated_values = df1_filtered + year_fraction * (df2_filtered - df1_filtered)
    interpolated_values = interpolated_values.round(2)
    
    interpolated_values.dropna(axis=1, how='all', inplace=True)

    interpolated_values.sort_values(by='geography', inplace=True)
    interpolated_values.reset_index(inplace=True)
    
    return interpolated_values

In [263]:
time = pd.Timestamp('2019-06-15')

cob_int = interpolate_values(dfl_cob11, dfl_cob, time)
yar_int = interpolate_values(dfl_yar11, dfl_yar, time)
eth_int = interpolate_values(dfl_eth11, dfl_eth, time)
eng_int = interpolate_values(dfl_eng11, dfl_eng, time)
rel_int = interpolate_values(dfl_rel11, dfl_rel, time)
acc_int = interpolate_values(dfl_acc11, dfl_acc, time)
rms_int = interpolate_values(dfl_rms11, dfl_rms, time)
whr_int = interpolate_values(dfl_whr11, dfl_whr, time)
occ_int = interpolate_values(dfl_occ11, dfl_occ, time)
eac_int = interpolate_values(dfl_eac11, dfl_eac, time)
edu_int = interpolate_values(dfl_edu11, dfl_edu, time)

acc_int['Total'] = acc_int.loc[:, acc_int.columns != 'geography'].sum(axis=1)
rms_int['Total'] = rms_int.loc[:, rms_int.columns != 'geography'].sum(axis=1)

cob_int.loc[:, cob_int.columns != 'geography'] = cob_int.loc[:, cob_int.columns != 'geography'].div(cob_int['Total'], axis=0)
yar_int.loc[:, yar_int.columns != 'geography'] = yar_int.loc[:, yar_int.columns != 'geography'].div(yar_int['Year of arrival in the UK: Total: All usual residents; measures: Value'], axis=0)
eth_int.loc[:, eth_int.columns != 'geography'] = eth_int.loc[:, eth_int.columns != 'geography'].div(eth_int['Total: All usual residents'], axis=0)
eng_int.loc[:, eng_int.columns != 'geography'] = eng_int.loc[:, eng_int.columns != 'geography'].div(eng_int['Total: All usual residents aged 3 years and over'], axis=0)
rel_int.loc[:, rel_int.columns != 'geography'] = rel_int.loc[:, rel_int.columns != 'geography'].div(rel_int['All usual residents'], axis=0)
acc_int.loc[:, acc_int.columns != 'geography'] = acc_int.loc[:, acc_int.columns != 'geography'].div(acc_int['Total'], axis=0)
rms_int.loc[:, rms_int.columns != 'geography'] = rms_int.loc[:, rms_int.columns != 'geography'].div(rms_int['Total'], axis=0)
whr_int.loc[:, whr_int.columns != 'geography'] = whr_int.loc[:, whr_int.columns != 'geography'].div(whr_int[' Total: All usual residents aged 16 years and over in employment the week before the census'], axis=0)
occ_int.loc[:, occ_int.columns != 'geography'] = occ_int.loc[:, occ_int.columns != 'geography'].div(occ_int['Total: All usual residents aged 16 years and over in employment the week before the census'], axis=0)
eac_int.loc[:, eac_int.columns != 'geography'] = eac_int.loc[:, eac_int.columns != 'geography'].div(eac_int['Total: All usual residents aged 16 years and over'], axis=0)
edu_int.loc[:, edu_int.columns != 'geography'] = edu_int.loc[:, edu_int.columns != 'geography'].div(edu_int['Total: All usual residents aged 16 years and over'], axis=0)
#cob, yar, eth, eng, rel, acc, rms, whr, occ, eac, edu

In [274]:
import warnings
import pandas as pd
import numpy as np

warnings.simplefilter(action='ignore', category=FutureWarning)

date_range = pd.date_range(start='2015-01-01', end='2019-12-31')

results = []

def normalize(df, total_column, geography_column='geography'):
    df = df.copy()
    df.loc[:, df.columns != geography_column] = df.loc[:, df.columns != geography_column].div(df[total_column], axis=0)
    return df

for date in date_range:
    time = pd.Timestamp(date)

    cob_int = interpolate_values(dfl_cob11, dfl_cob, time)
    yar_int = interpolate_values(dfl_yar11, dfl_yar, time)
    eth_int = interpolate_values(dfl_eth11, dfl_eth, time)
    eng_int = interpolate_values(dfl_eng11, dfl_eng, time)
    rel_int = interpolate_values(dfl_rel11, dfl_rel, time)
    acc_int = interpolate_values(dfl_acc11, dfl_acc, time)
    rms_int = interpolate_values(dfl_rms11, dfl_rms, time)
    whr_int = interpolate_values(dfl_whr11, dfl_whr, time)
    occ_int = interpolate_values(dfl_occ11, dfl_occ, time)
    eac_int = interpolate_values(dfl_eac11, dfl_eac, time)
    edu_int = interpolate_values(dfl_edu11, dfl_edu, time)

    acc_int['Total'] = acc_int.loc[:, acc_int.columns != 'geography'].sum(axis=1)
    rms_int['Total'] = rms_int.loc[:, rms_int.columns != 'geography'].sum(axis=1)

    cob_int = normalize(cob_int, 'Total')
    yar_int = normalize(yar_int, 'Year of arrival in the UK: Total: All usual residents; measures: Value')
    eth_int = normalize(eth_int, 'Total: All usual residents')
    eng_int = normalize(eng_int, 'Total: All usual residents aged 3 years and over')
    rel_int = normalize(rel_int, 'All usual residents')
    acc_int = normalize(acc_int, 'Total')
    rms_int = normalize(rms_int, 'Total')
    whr_int = normalize(whr_int, ' Total: All usual residents aged 16 years and over in employment the week before the census')
    occ_int = normalize(occ_int, 'Total: All usual residents aged 16 years and over in employment the week before the census')
    eac_int = normalize(eac_int, 'Total: All usual residents aged 16 years and over')
    edu_int = normalize(edu_int, 'Total: All usual residents aged 16 years and over')

    merged_df = cob_int.merge(yar_int, on='geography').merge(eth_int, on='geography').merge(eng_int, on='geography').merge(rel_int, on='geography').merge(acc_int, on='geography').merge(rms_int, on='geography').merge(whr_int, on='geography').merge(occ_int, on='geography').merge(eac_int, on='geography').merge(edu_int, on='geography')

    merged_df['date'] = time

    for borough in merged_df['geography']:
        merged_df[f'BOROUGH_{borough}'] = merged_df['geography'] == borough

    results.append(merged_df)

final_df = pd.concat(results, ignore_index=True)

columns_to_remove = final_df.columns[(final_df == 1.0).all()]
final_df = final_df.drop(columns=columns_to_remove)

                  geography    Africa  \
0      Barking and Dagenham  0.104901
1                    Barnet  0.070759
2                    Bexley  0.062678
3                     Brent  0.100894
4                   Bromley  0.037300
...                     ...       ...
12040                Sutton  0.043843
12041         Tower Hamlets  0.042599
12042        Waltham Forest  0.061317
12043            Wandsworth  0.062741
12044           Westminster  0.067964

       Antarctica and Oceania (including Australasia) and Other  \
0                                               0.000664
1                                               0.004206
2                                               0.001665
3                                               0.005232
4                                               0.004766
...                                                  ...
12040                                           0.003184
12041                                           0.010743
12042                                           0.005442
12043                                           0.019698
12044                                           0.015444

       Europe: EU countries: All other EU countries  \
0                                          0.010429
1                                          0.019039
2                                          0.005407
3                                          0.015756
4                                          0.006172
...                                             ...
12040                                      0.003770
12041                                      0.005820
12042                                      0.013166
12043                                      0.006198
12044                                      0.007600

       Europe: EU countries: European Union EU14  Europe: Non-EU countries  \
0                                       0.031557                  0.028429
1                                       0.057807                  0.032772
2                                       0.023115                  0.011265
3                                       0.070260                  0.015721
4                                       0.033580                  0.013212
...                                          ...                       ...
12040                                   0.034931                  0.015295
12041                                   0.095240                  0.021704
12042                                   0.045473                  0.036736
12043                                   0.092828                  0.021751
12044                                   0.141286                  0.046444

       Europe: United Kingdom  Middle East and Asia  \
0                    0.605214              0.123665
1                    0.576374              0.151065
2                    0.803194              0.054999
3                    0.441036              0.224050
4                    0.808189              0.052768
...                       ...                   ...
12040                0.729667              0.111475
12041                0.535109              0.219058
12042                0.614327              0.094660
12043                0.623228              0.083861
12044                0.446518              0.173726

       The Americas and the Caribbean  \
0                            0.015089
1                            0.024925
2                            0.011147
3                            0.053958
4                            0.021432
...                               ...
12040                        0.017692
12041                        0.034659
12042                        0.038461
12043                        0.054826
12044                        0.073056

       Year of arrival in the UK: Arrived 1951 to 1960; measures: Value  ...  \
0                                               0.003408                 ...
1                                               0.010671                 ...
2                                               0.004968                 ...
3                                               0.013271                 ...
4                                               0.006593                 ...
...                                                  ...                 ...
12040                                           0.005908                 ...
12041                                           0.003230                 ...
12042                                           0.007556                 ...
12043                                           0.007256                 ...
12044                                           0.007992                 ...

       BOROUGH_Merton  BOROUGH_Newham  BOROUGH_Redbridge  \
0               False           False              False
1               False           False              False
2               False           False              False
3               False           False              False
4               False           False              False
...               ...             ...                ...
12040           False           False              False
12041           False           False              False
12042           False           False              False
12043           False           False              False
12044           False           False              False

       BOROUGH_Richmond upon Thames  BOROUGH_Southwark  BOROUGH_Sutton  \
0                             False              False           False
1                             False              False           False
2                             False              False           False
3                             False              False           False
4                             False              False           False
...                             ...                ...             ...
12040                         False              False            True
12041                         False              False           False
12042                         False              False           False
12043                         False              False           False
12044                         False              False           False

       BOROUGH_Tower Hamlets  BOROUGH_Waltham Forest  BOROUGH_Wandsworth  \
0                      False                   False               False
1                      False                   False               False
2                      False                   False               False
3                      False                   False               False
4                      False                   False               False
...                      ...                     ...                 ...
12040                  False                   False               False
12041                   True                   False               False
12042                  False                    True               False
12043                  False                   False                True
12044                  False                   False               False

       BOROUGH_Westminster
0                    False
1                    False
2                    False
3                    False
4                    False
...                    ...
12040                False
12041                False
12042                False
12043                False
12044                 True

[12045 rows x 126 columns]

In [281]:
final_df = final_df.drop(columns=['geography'])
final_df.to_csv('DC2/FinalDataDemographics.csv', index=True)